{% extends "base.html" %}
{% load itemtag %}
{% block content %}


<!-- create list item-->
<div class="modal fade" id="Create_Item" tabindex="-1" aria-labelledby="CreateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="{% url 'todo_app:create' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="CreateListItem">Add List of Items</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ create_list_form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- add item-->
<div class="modal fade" id="CreateItem" tabindex="-1" aria-labelledby="CreateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="" id="AddItemForm" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="AddItem">Create subscription</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    {{ create_item_form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>


<ol class="list-group list-group-numbered">
    {% for list in all_todo_list %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">
                <h3>{{ list.title }}</h3>
            </div>
            <hr>
            {% for item in list.get_items %}
            <div style="background-color: {% get_color_item item %};">
                <h5>{{item.title}} </h5>

                <i>{{item.description}}</i>
                <br>
                <b>{{item.end_date|default:''}}</b>
                <hr>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <span class="badge bg-primary rounded-pill">{{list.items.count}}</span>
            <span>
              <a class="block-create" data-bs-toggle="modal" data-bs-target="#CreateItem" data-id="{{list.id}}">
                <i class="fas fa-plus"></i>
              </a>
            </span>
        </div>
    </li>
    {% endfor%}
</ol>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>


<script>
    $(document).on("click", ".block-create", function () {
     const subId = $(this).data('id');
     const action = "{% url 'todo_app:add' pk=12345 %}".replace(/12345/, subId.toString());
     document.getElementById("AddItemForm").action = action;
});

</script>

{% endblock %}

